@import './fonts';

$safe-area-height: calc(100vh + env(safe-area-inset-top));
$navbar-height: 5rem;
$footer-height: 0;
$content-height: calc(#{$safe-area-height} - #{$navbar-height + $footer-height});

html {
  min-height: $safe-area-height !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.full-height { height: $safe-area-height !important; }
.navbar-height { height: $navbar-height !important; }
.footer-height { height: $footer-height !important; }

.content-height {
  height: $content-height !important;
  overflow: auto !important;
}

$maximum-content-width: 100%;
$safe-area-width: calc(100vw + (env(safe-area-inset-left) + env(safe-area-inset-right)));
$content-width: calc(#{$safe-area-width} - #{$maximum-content-width});

.full-width { width: $safe-area-width !important; }
.fill-width { width: 100% !important; }
.half-full-width { width: calc(#{$safe-area-width} / 2) !important; }
.content-width { width: $content-width !important; }
.half-content-width { width: calc(#{$content-width} / 2) !important; }
.maximum-content-width { max-width: $maximum-content-width !important; }

#__nuxt {
  .undecorative-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
